.body{
color: white;
}
.culinaria{
  color: brown;
  background-color:rgb(253, 253, 217);
  border-radius: 8px;
}


.pratos_famosos{
  
  flex-direction: column;
  display: flex;
  justify-content: left;
  color: brown;
  background-color:rgb(253, 253, 217);
  border-radius: 8px;
}
img{
  height: 50px; ;
  width: 50px;
  border-radius: 8px;
  margin: 10px;
}
.lista{
  font-size: 20px;
}
.pratos{
  font-size: 20px;
  
}